<a href="https://colab.research.google.com/github/rushikhanjode/Assignment1/blob/main/Copy_of_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Write a Python program to find those numbers which are divisible by 7, 5 , 2 between 1500 and 2700 (both included).
Take the range as(1500, 2701)

In [ ]:
divisible_nums=[]
for i in range(1500,2700,1):
  if(i%7==0 and i%5==0 and i%2==0):
    divisible_nums.append(i)
print(divisible_nums)

[1540, 1610, 1680, 1750, 1820, 1890, 1960, 2030, 2100, 2170, 2240, 2310, 2380, 2450, 2520, 2590, 2660]

Q2. 2. Write a Python program that accepts a word from the user and reverse it. 
Sample Output:
Input a word to reverse: one
Eno

In [ ]:
print("Enter a word")
word=str(input())
print(word [::-1])

Enter a word
test
tset

Q3. Write a Python program to count the number of even,odd and prime numbers from a series of numbers.
Sample numbers : numbers = (1, 2, 30, 4, 5, 67, 7, 8, 9) 
Expected Output :
Number of even numbers : 4
Number of odd numbers : 5
Number of prime numbers: 4

In [ ]:
from math import sqrt
numbers= (1, 2, 30, 4, 5, 67, 7, 8, 9) 
odd_count=0
even_count=0
prime_count=0
for i in range (0,len(numbers),1):
  if(numbers[i]%2==0):
    even_count+=1
  elif(numbers[i]%2!=0):
    odd_count+=1
for i in range (0,len(numbers),1):
  n=numbers[i]
  prime_flag=0
  if n>1:
    for i in range(2, int(sqrt(n)) + 1):
        if (n % i == 0):
            prime_flag = 1
    if (prime_flag == 0):
        prime_count+=1
    else:
        pass
print("Number of even numbers:", even_count)
print("Number of odd numbers:", odd_count)
print("Number of prime numbers:", prime_count)

Number of even numbers: 4
Number of odd numbers: 5
Number of prime numbers: 4

Q4. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
Note : Use 'continue' statement.
Expected Output : 0 1 2 4 5

In [ ]:
for i in range (0,7):
  if(i!=3 and i!=6):
    print(i)
  else:
    continue

0
1
2
4
5

Q5. Write a Python program to calculate the area and volume of a cylinder

In [ ]:
print("Enter Radius of cylinder: ")
r=float(input())
print("Enter Height of cylinder: ")
h=float(input())
pi=22/7
area= (2*pi*r*h) + (2*pi*r**2)

print("Area of Cylinder is: ", area)

Enter Radius of cylinder:
5
Enter Height of cylinder:
3
Area of Cylinder is:  251.42857142857142

Q6. Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them
E.g. 
input - Adam Samuel
Output - madA leumaS

In [ ]:
print("Enter first name: ")
f_name=str(input())
print("Enter last name: ")
l_name=str(input())

print(f_name [::-1], l_name [::-1])

Enter first name:
First
Enter last name:
Name
 tsriF emaN

Q7. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.
Sample value of n is 2
Expected Result :246  (2+22+222)

In [ ]:
print("Enter a integer (n): ", end="")
num=str(input())
num2=num+num
num3=num2+num
res=int(num)+int(num2)+int(num3)
print(res)

#Seocond approach can be indirect with multiplying the base value with 11 & 111 to get the doubble or triple digit number as follows
print("Enter a number (n): ", end="")
num=int(input())
result=(num)+(num*11)+(num*111)
print(result)

Enter a integer (n): 2
246
Enter a number (n): 2
246

Q8. Write a Python program to compute the distance between the points 
(x1, y1,z1) and (x2, y2,z2).

In [ ]:
import math
x=(1,2,3)
y=(4,5,6)

print("Distance between given points is: ", math.dist(x,y))

Distance between given points is:  5.196152422706632

Q9. Write a Python program to count the number occurrence of a specific character in a string

In [ ]:
print("Enter a string: ")
ip_string=str(input())
count=0
print("Enter the character you want to check: ")
chk=str(input())

for i in range(0,len(ip_string),1):
  if(ip_string[i]==chk):
    count+=1
  else:
    pass
print("The given character occured {} times" .format(count))

Enter a string:
test
Enter the character you want to check:
t
The given character occured 2 times

Q10. Write a Python program to remove and print every third consecutive number from a list.

In [ ]:
sample=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

print(sample[2::3])
del sample[2::3]
print(sample)

[3, 6, 9, 12, 15, 18]
[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20]

Q11. Given sample integers below:\\
12345
90213
123456
WAP such that the code produces below output :
(Print 1st digit + last digit + 2nd digit + 2nd last digit + …so on)
15243
93012
162534

In [ ]:
print("Enter a number")
num=input()
strnum= str(num)
#to initiate reverse iterator
r_itr=-1
#to stop reverse iterator
stop=((int(len(strnum)+1))/2)

rev_num_str=""

for i in range(0,int((int(len(strnum)+1))/2)+1):
  #to equally run the forward and opposite index
    if(abs(r_itr) < (int(len(strnum)+1))/2+1 and abs(r_itr)<=stop): 
      rev_num_str=rev_num_str+strnum[i]
     
      if(abs(r_itr)!=stop): #to avoid the last negative index value to print
        rev_num_str=rev_num_str+strnum[r_itr]

    i+=1
    r_itr-=1

rev_num=int(rev_num_str)
print("Reverse of the number is: ", rev_num)

Enter a number
12345
Reverse of the number is:  15243

Q12. Check if an integer entered by user is palindrome or not.

In [ ]:
print("Enter a number: ")
num=int(input())
temp=num
reverse=0

while(temp>0):
  digit=temp%10
  reverse=reverse*10+digit
  temp=temp//10
if(num==reverse):
  print("given number is palinedrome")
else:
  print("given number is not palindrome")

Enter a number:
12321
given number is palinedrome

Q13. Write a program to print number  in words 
	E.g  1976 : One thousand nine hundred seventy six
		641: Six Hundred Forty One

In [ ]:
print("enter a number: ", end="")
number=int(input())
if(number<=20999):
  pass
else:
  print("Number should not exceed 20999")
  exit()
nums={1:'one', 2:'two', 3:'three', 4:'four', 5:'five', 6:'six', 7:'seven', 8:'eight', 9:'nine', 10:'ten', 11:'eleven', 12:'twelve', 13:'thirteen', 14:'fourteen', 15:'fifteen', 16:'sixteen', 17:'seventeen', 18:'eighteen', 19:'nineteen', 20:'twenty', 30:'thirty', 40:'forty', 50:'fifty', 60:'sixty', 70:'seventy', 80:'eighty', 90:'ninety'}
hundred= 100
thousand = 1000
temp=number
while (temp>0):
  if(temp < 20):
    print(nums[temp], end="")
    break
  elif(temp<100):
    print(nums[temp-temp%10]+ " ", end="")
    temp=temp%10
   
  elif(temp<1000):
    print(nums[int(temp/100)]+" hundred ", end="")
    temp=temp%100

  elif(temp<21000):
    print(nums[int(temp/1000)]+" thousand ", end="")
    temp=temp%1000
  else:
    break

enter a number: 20999
twenty thousand nine hundred ninety nine

Q14. Swap two numbers using the third variable and without using the third variable. 
	Take choice from user 1-for with third variable 2-for without third variable

In [ ]:
print("Enter first number")
int1=int(input())
print("Enter second number")
int2=int(input())

print("Which method you want to use 1. Using third variable 2. without using third variable")
choice=int(input())

#using third variable
if (choice==1):
  print("Before swap", int1, int2)

  temp=int2
  int2=int1
  int1=temp

  print("After swap", int1, int2)
elif(choice==2):

#Without using 3rd variable
  print("Before swap", int1, int2)

  int1, int2=int2, int1

  print("After swap", int1, int2)
  
#not valid input
else:
  print("Not valid input")

Enter first number
5
Enter second number
8
Which method you want to use 1. Using third variable 2. without using third variable
1
Before swap 5 8
After swap 8 5

Q15. Take string value from user as :
 "Hi,My Name is Abc."  
convert it into "HI,MY NAME IS ABC" and "hi,my name is abc."
without using the inbuilt function.

In [ ]:
print("enter a string in upper case")
og_string=str(input())
l_string=""
itr=0
while(og_string[itr:]):
  #Using ASCII values to convert to lower case
  char=ord(og_string[itr])
  #Filtering alphabets
  if (char>64 and char<91):
    l_string+= chr(char+32)
  #speacial characters or numbers
  else:
    l_string+= chr(char)
  itr+=1

print("The given string in lowercase is: ", l_string)

enter a string in upper case
HELLO I AM ROBO
The given string in lowercase is:  hello i am robo

Q16. Check entered year is leap year or not using logical operato

In [ ]:
print("Enter year: ")
year=int(input())

if(year % 4 == 0):
  if(year % 100 ==0 ):
    if(year % 400 == 0):
      print("It's a leap year")
    else:
      print("It's not a leap year")
  else:
    print("It's not a leap year")
else:
  print("It's not a leap year")

Enter year:
2000
It's a leap year

Q17. 17. count the number of digits and number of alphabets in the string.
	e.g 			Pune - 412203
				Maharashtra.
	
	Total Digits: 6
	Total alphabets: 15
	Special Characters: 1
	White Spaces: 2
	Number of Lines: 2

In [ ]:
digits=0
alpha=0
s_chars=0
spaces=0
lines=0
itr=0
sample="""Pune - 412203
				Maharashtra."""

lines=sample.count("\n")+1


while(sample[itr:]):
  #Using ASCII values to convert to lower case
  char=ord(sample[itr])
  
  #Counting alphabets
  if (char>64 and char<91) or (char >96 and char < 123):
    alpha+=1
  #counting whitespaces
  elif(chr(char) == " "):
    spaces+=1
  #Counting numbers
  elif (char > 47 and char < 58):
    digits+=1
  #speacial characters 
  elif((char >31 and char <48) or (char > 57 and char <65) or (char > 90 and char < 97) or (char > 122 and char <127)):
    s_chars+=1
    
  itr+=1

print("Total Digits: ", digits)
print("Total Alphabets: ", alpha)
print("Special Characters", s_chars)
print("White spaces", spaces)
print("Number of lines", lines)

Total Digits:  6
Total Alphabets:  15
Special Characters 2
White spaces 2
Number of lines 2